.portfolio-container {
  display: flex;
  flex-direction: row;
  height: 40vmin;
  margin: 50px auto;
}

.portfolio-img {
  width: 400px;
  margin: 10px 80px;
}

#post-icons {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  margin-left: 20px;
  padding-top: 10px;
}

#stylist-list-cards {
  display: inline-block;
  /* flex-direction: row; */
}